<a aria-label="{{ link.name | escape }}"
{% if sublinks.size > 0 -%} 
href="#" role="button" 
class="dropdown-toggle nav-link"
data-bs-toggle="dropdown"
{%- else -%}
href="{{ link.url | escape }}"
aria-roledescription="link" x²
class="nav-link" 
{%- endif -%}
{%- if link.Open_In_New_Window %} 
target="_blank" 
{% endif -%} 
{%- if link.nofollow %} 
rel="nofollow" {% endif -%} 
{%- if link.tooltip %} title="{{ link.tooltip | escape }}" {% endif %}> {%- if link.image -%} {%- if link.image.url -%} {%- if link.image.url.first == '.' -%} <span class="{{ link.image.url | split:'.' | join }}" aria-hidden="true"></span> {%- endif -%} {%- else -%} <img src="{{ link.image.url | escape }}" alt="{{ link.image.alternate_text | default:link.tooltip | escape }}" {% if link.image.width %}width="{{ link.image.width | escape }}" {% endif %} {% if link.image.height %}height="{{ link.image.height | escape }}" {% endif %} />
  {%- endif -%} {%- endif -%} {%- unless link.display_image_only -%} {{ link.name | escape }} {%- endunless -%} </a>